html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.fa-facebook-square:before {
    content: "ï‚‚";
}

.zf-header{
    width: 100%;
    height: 90px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: #fff;
    z-index: 100;
}

.zf-header ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.zf-header li a{
    color: #000;
    text-decoration: none;
}

.header__menu{
    width: 100%;
    text-align: center;
}

.zf-footer{
    width: 100%;
    height: auto;
    padding: 10px;
}

.zf-footer li{
    padding: 0 10px;
    border-right: 1px solid #000;
    cursor: pointer;
}

.zf-footer li:last-child{
    border: none;
}

.zf-footer li a{
    color: #000;
    text-decoration: none;
}